html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1c1c1c;
  font-family: "Inter", sans-serif;
}

#container {
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  width: 550px;
  height: 550px;
  background: #1f2937;
  border-radius: 10px;
}

#description-section {
  height: auto;
  margin: 115px 52px 0px 52px;
  padding: 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  border-bottom: 2px solid #2f3e53;
}

#password-section {
  margin: 20px 52px 154px 52px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  margin: 3px 0px 0px 0px;
  font-family: "Karla", sans-serif;
  width: 354px;
  height: 80px;
  font-size: 40px;
  font-weight: 700;
  color: #ffffff;
  line-height: 40px;
  letter-spacing: -2.5%;
}

h1 span {
  color: #4adf86;
}

#bio {
  margin-top: 7px;
  margin-bottom: 0px;
  line-height: 28px;
  width: 372px;
  height: 28px;
  color: #d5d4d8;
  font-weight: 300;
  font-size: 20px;
}

#generate-password {
  margin-top: 0px;
  margin-bottom: 20px;
  width: 191px;
  height: 42px;
  background-color: #10b981;
  color: #ffffff;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.password-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 211px;
  height: 39px;
  background: #273549;
  border-radius: 6px;
}

.password-box p {
  width: 180px;
  height: 32px;
  margin: 0 15px;
  line-height: 32px;
  font-size: 16px;
  text-align: center;
  color: #55f991;
}

#preference-container {
  font-size: 12px;
  margin: 10px 0px;
  padding: 0;
  height: auto;
  /* border: 1px dotted white; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.check-pref {
  /* border: 1px dotted white; */
  color: #ffffff;
  margin: 3px 0px;
}

.checkbox {
  background-color: #4adf86;
}

#length-range {
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: space-between;
  margin: 20px 5px;
}

#length {
  margin-top: 10px;
  margin-left: -2px;
  background: #10b981;
}

/* Style the slider track */
#length::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  background: #10b981; /* Green color for the track */
  border-radius: 5px;
}

/* Style the slider thumb for WebKit browsers */
#length::-webkit-slider-thumb {
  -webkit-appearance: none; /* Remove default appearance */
  appearance: none;
  width: 20px;
  height: 20px;
  background: #ffffff; /* White color for the thumb */
  border-radius: 50%;
  cursor: pointer;
  position: relative; /* Align thumb */
  top: -4px; /* Adjust positioning */
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5); /* Optional shadow for the thumb */
}
